@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  height: 10rem;
  background: linear-gradient(to right, #ce5937 0%, #a115a4 50%, #9c17c5 100%);
}
.img_nav {
  height: 8rem;
}

/*--------cuerpo de la página------*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tarjeta {
  display: flex;
  margin: 2rem;
  width: 30rem;
  min-height: 40rem;
  border-radius: 1rem;
  box-shadow: 2px 1px 15px -1px #000000;
  transition-duration: 1s;
}
.tarjeta:hover {
  transform: scale(1.1);
}

.tarjeta img {
  width: 100%;
  align-self: center;
  filter: grayscale(1);
  transition-property: filter;
  transition-duration: 0.5s;
}
.tarjeta img:hover {
  filter: grayscale(0);
}

.fixed {
  position: fixed;
  bottom: 5rem;
  right: 0;
}

.fixed img {
  height: 8rem;
}
/*-------footer-------*/
.footer {
  font-family: neonderthaw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ce5937 0%, #a115a4 50%, #9c17c5 100%);

  color: whitesmoke;
}
.footer p {
  font-size: 20px;
}
