* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  position: relative;
  top: 0;
  margin-bottom: 3rem;
  background-color: rgb(228, 123, 123);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
  height: 10rem;
}
.image_nav {
  height: 8rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tarjeta {
  display: flex;
  margin: 2rem;
  width: 30rem;
  min-height: 20rem;
  border-radius: 3rem;
  box-shadow: 2px 1px 15px -1px #000000;
}
.tarjeta img {
  width: 100%;
  align-self: center;
  border-radius: 3rem;
}
.footer {
  text-align: center;
  font-size: 2rem;
  background-color: lightsalmon;
}
